
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .text {
        color: #6d4b36;
        position: absolute;
        top: 30px;
        margin-left: 30px;
        font-size: 35px
    }
    }
</style>
<h1 class="text" align="center">TRANG QUẢN TRỊ VIÊN</h1>
<img src="~/img/slider-image/admin_index.jpg" style="height:max-content; color:white; " />
<section id="home-articles">
    <div class="wrapper">
        
        </div>
</section>
