
@{
    ViewBag.Title = "Tin Tức - KP PET'S HOME";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Trở lại đầu trang-->
<script language="javascript" src="~/Scripts/backtotop.js"></script>
<!-- Owl carousel init -->
<script language="javascript" src="~/Scripts/owlcarousel.js"></script>
<!-- accordion -->
<script language="javascript" src="~/Scripts/accordion.js"></script>

@*<section id="breadcrumb-wrapper3" class="breadcrumb-w-img">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">

                    <h2>
                        Tin tức
                    </h2>

                </div>
                <div class="breadcrumb-small">
                    <a href="@Url.Action("index","User")" title="Quay trở về trang chủ">Trang chủ</a>



                    <span aria-hidden="true">/</span>

                    <span>Tin tức</span>
                </div>
            </div>
        </div>
    </div>
</section>*@



<div id="PageContainer" class="is-moved-by-drawer" style="background:url(../img/bg-danhmuc.jpg); background-size:cover">
    <main class="main-content" role="main">
        <section id="blog-wrapper">
            <div class="wrapper">
                <div class="inner">
                    <div class="grid">

                        <div class="grid__item large--nine-twelfths medium--one-whole small--one-whole float-right">
                            <div class="blog-content">

                                <div class="blog-content-wrapper">
                                    <div class="blog-head">
                                        <div class="blog-title">
                                            <p style="color: #103a78; font-size: 25px; font-weight:600">TIN TỨC</p>
                                            <hr style="height: 1.5px; background-color: #103a78; margin-top: 5px"/>
                                        </div>
                                    </div>

                                    <div class="blog-body">
                                        <div class="grid-uniform">
                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://www.youtube.com/embed/t5lra4Ydq6E">
                                                            <div class="blog-post-audio">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/t5lra4Ydq6E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://www.youtube.com/embed/t5lra4Ydq6E" style="color: #103a87">Tác dụng của sữa tươi và những điều bạn cần biết</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true" style="color: #948b8b"></i> 02/07/23
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true" style="color: #948b8b"></i> Hoàng Phạm
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true" style="color: #948b8b"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/ifkuiXmp7zs"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://www.youtube.com/embed/ifkuiXmp7zs">

                                                            <div class="blog-post-audio">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ifkuiXmp7zs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>                                                    
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://www.youtube.com/embed/ifkuiXmp7zs" style="color: #103a87">Xem! công việc chăn nuôi bò sữa tại Nhật Bản như thế nào?</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true" style="color: #948b8b"></i> 03/07/23
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true" style="color: #948b8b"></i> Hoàng Phạm
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true" style="color: #948b8b"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/ifkuiXmp7zs"></span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                            </div>

                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://www.youtube.com/embed/YNiYvmb8lD0" title="YouTube video player">

                                                            <div class="blog-post-audio">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/YNiYvmb8lD0" title="YouTube video player" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>            
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://www.youtube.com/embed/YNiYvmb8lD0" title="YouTube video player" style="color: #103a87">Thời Điểm “VÀNG” Nếu Uống Sữa Còn Tốt GẤP VẠN LẦN Nhân Sâm</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true" style="color: #948b8b"></i> 04/07/23
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true" style="color: #948b8b"></i> Hoàng Phạm
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true" style="color: #948b8b"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/YNiYvmb8lD0"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://www.youtube.com/embed/Z9fUSCDFLVo">

                                                            <div class="blog-post-audio">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Z9fUSCDFLVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>                                                  
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://www.youtube.com/embed/Z9fUSCDFLVo" style="color: #103a87">Tại sao Sữa Bò New Zealand tốt nhất thế giới Hãy xem cách nông dân nuôi bò và lấy sữa</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true" style="color: #948b8b"></i> 01/07/23
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true" style="color: #948b8b"></i> Hoàng Phạm
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true" style="color: #948b8b"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/Z9fUSCDFLVo"></span>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid__item large--three-twelfths medium--one-whole small--one-whole">
                            <div class="blog-sidebar">
                                <img src="~/img/slider-image/banner_blog.jpg"/>                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


<div id="modalAddComplete">
</div>

<button type="button" id="modalAddCompleteBtn" style="display: none;"></button>

<script>
    // Get the modal
    var modalAddComplete = document.getElementById('modalAddComplete');

    // Get the button that opens the modal
    var modalAddCompleteBtn = document.getElementById("modalAddCompleteBtn");

    // When the user clicks the button, open the modal
    modalAddCompleteBtn.onclick = function () {
        modalAddComplete.style.display = "block";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalAddComplete) {
            modalAddComplete.style.display = "none";
        }
    }
</script>

<script language="javascript" src="~/Scripts/ajax-cart5eef.js"></script>
<!-- Custom script -->
<script>
    if ($(window).width() > 768) {
        setTimeout(function () {
            $("#ProductThumbs .thumbnail-item:first-child a").trigger('click');
        }, 10);
    };
</script>
<script language="javascript" src="~/Scripts/hoverchangeimage.js"></script>
<!-- accordion -->
<script language="javascript" src="~/Scripts/accordion.js"></script>
<!-- Owl carousel init -->
<script language="javascript" src="~/Scripts/Owlcarousel.js"></script>
<!-- Back to top -->
<script language="javascript" src="~/Scripts/backtotop.js"></script>
<!-- Validate quantity form & trigger zoom -->
<script language="javascript" src="~/Scripts/triggerzoom.js"></script>
<!--thuc hiên-->
<script language="javascript" src="~/Scripts/thuchien.js"></script>
<!-- popup loaded -->

<script language="javascript" src="~/Scripts/quickview.js"></script>
<script>
    $(".hc-search-wrapper > a").click(function () {
        $(".search-bar-header").toggle();
    });
</script>












