
@foreach (var item in Model)
{
    <ul class="no-bullets">
        <li>
            <a href="@Url.Action("SPTheothuonghieu",new { id = item.MATH } )" class="no-bullets" style="color: #103a78"> @item.TENTH </a>
        </li>
    </ul>
}

