@using WebsiteThuCungBento.Models
@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<section id="breadcrumb-wrapper3" class="breadcrumb-w-img">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">

                    <h2>
                        Thông Báo Xác Nhận Đơn Hàng
                    </h2>

                </div>
                <div class="breadcrumb-small">
                    <a href="@Url.Action("index", "User")" title="Quay trở về trang chủ">Trang chủ</a>
                    <span aria-hidden="true">/</span>

                    <span>Thông Báo Xác Nhận Đơn Hàng</span>
                </div>
            </div>
        </div>
    </div>
</section>*@

<div id="PageContainer" class="is-moved-by-drawer" style="background-image: url(../img/background1.jpg); height:543px; ">
    <main class="main-content" role="main">
        <section id="page-wrapper">
            <div class="wrapper">
                <div class="inner">

                    <div class="grid">
                   
                        <h2 style="color: white; line-height:50px; margin-top: 50px; font-weight:bold;text-align:center; font-size:35px">Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ <br /> quý khách trong vòng 24H để xác nhận đơn hàng. <br /> Cảm ơn quý khách đã tin tưởng đặt hàng!</h2>
                        <div class="grid__item large--one-third push--large--one-third text-center">
                            <a>                     
                                <u>@Html.ActionLink("Trở lại trang chủ", "Index", "User")</u>
                            </a>
                        </div>

                        @*<h6>Nếu quý khách không nhập ngày giao khi đặt hàng thì đơn hàng sẽ được chúng tôi giao tới quý khách sau 7 ngày tính từ ngày </h6> @DateTime.Now*@
                   

                    </div>

                </div>
            </div>
        </section>

    </main>
</div>